In [1]:
x = 'Hello Python! '
print(x)

Hello Python!

In [2]:
# Commenting in python to annotate your code so that others can read it better. 
# alt + enter -  execute and open a new tab below
# ctrl + enter - execute

In [3]:
# This is a comment
print('The comment line is not run! ')

The comment line is not run!

In [4]:
'''
This is a comment
that spans mulitple 
lines. 
'''
print('Multiple line comments')

Multiple line comments

In [5]:
print(4)

4

In [6]:
type(x)

str

In [7]:
#Formatted output
print("Hello {0} \nyour balance is {1}.".format("Adam", 230.2346))

Hello Adam
your balance is 230.2346.

In [8]:
#Formatted output
print("Hello {0} \tyour balance is {1}.".format("Adam", 230.2346))

Hello Adam 	your balance is 230.2346.

In [9]:
type(4)

int

In [10]:
type(3.2)

float

In [11]:
type('17')

str

In [12]:
# variables

In [13]:
a = 1
b = 3
print(a + b)

4

In [14]:
a = '3'
print(int(a) + 1)

4

In [15]:
x = 15
type(x)

int

In [16]:
x = 15.4
print('Type of x :', type(x))

aString = 'This is a string'
print('Type of aString : ',  type(aString))


aBoolean = True
print('Type of a boolean: ', type(aBoolean))

Type of x : <class 'float'>
Type of aString :  <class 'str'>
Type of a boolean:  <class 'bool'>

In [17]:
# Arithmetic Operators
# Addition
print(3 + 4)
# Subtraction
print(3 - 4)
# Multiplication
print(3 * 4)
# modulo operator 
print(3 % 2)
# Exponentiation
print(3 ** 4)
#  division
print(3 / 4)
# floor division
print(3 // 4)

7
-1
12
1
81
0.75
0

In [18]:
9 % 3

0

In [19]:
#String operations
a = '1'
b = '2'
print(a + b) # here the values are concatenated

12

In [20]:
a *3

'111'

In [21]:
name = input("What's your name? ")

What's your name? a

In [22]:
print(name)

a

In [23]:
print("Nice to meet you " + name + "!")

Nice to meet you a!

In [24]:
age = input("Your age? ")
print("So, you are already " + age + " years old, " + name + "!")

Your age? 23
So, you are already 23 years old, a!

In [26]:
prompt = 'Enter a number'
speed = input(prompt)
int(speed) + 5

Enter a number1

6

In [27]:
# Creating lists
x = [2, 'a', 4.5, False]
print(x)

[2, 'a', 4.5, False]

In [28]:
#Appending elements to a list
myList=[]
myList.append(10)
myList.append(20)
myList.append(30)
myList.append(40)
myList

[10, 20, 30, 40]

In [29]:
# accessing individual elements of the list
print(myList[0]) #first element of the list
print(myList[1]) # second element of the list

10
20