# Python and Data Analysis (PANDAS)

In [1]:
import pandas as pd
import numpy as np

In [2]:
pandas_series = pd.Series([4, 8, 8.1, -4])
pandas_series

0    4.0
1    8.0
2    8.1
3   -4.0
dtype: float64

In [3]:
pandas_series = pd.Series([4, 8, 8.1, -4], index = ["a", "c", "b", "d"])
pandas_series

a    4.0
c    8.0
b    8.1
d   -4.0
dtype: float64

In [4]:
pandas_series[2]

8.1

In [5]:
pandas_series [pandas_series < 5 ]

a    4.0
d   -4.0
dtype: float64

In [6]:
pandas_series[pandas_series > 0]

a    4.0
c    8.0
b    8.1
dtype: float64

In [7]:
panda_series = pd.Series([["hi","hello"],5.4,-9.4,12],index = ["a","b","c","d"])
panda_series

a    [hi, hello]
b            5.4
c           -9.4
d             12
dtype: object

In [10]:
s.a

['hi', 'Hello']

In [9]:
#series from dictionary

dictionary = {"a":["hi","Hello"],"b":[5.4,7.5,6.2],"c":-9.4,"d":12}
s=pd.Series(dictionary)
print(s)

a        [hi, Hello]
b    [5.4, 7.5, 6.2]
c               -9.4
d                 12
dtype: object

In [11]:
data = {"date" : [ "December,2014", "December, 2013",
                  "December, 2012","December,2011"],
        "global_temp": [0.87,0.74,0.65,0.63]
       }
dataframe = pd.DataFrame(data)
dataframe

             date  global_temp
0   December,2014         0.87
1  December, 2013         0.74
2  December, 2012         0.65
3   December,2011         0.63

In [12]:
pd.DataFrame(dataframe,columns = ["global_temp","date"])

   global_temp            date
0         0.87   December,2014
1         0.74  December, 2013
2         0.65  December, 2012
3         0.63   December,2011

In [13]:
print(dataframe.date)
print(dataframe['date'])

0     December,2014
1    December, 2013
2    December, 2012
3     December,2011
Name: date, dtype: object
0     December,2014
1    December, 2013
2    December, 2012
3     December,2011
Name: date, dtype: object

In [14]:
dataframe['date'].values

array(['December,2014', 'December, 2013', 'December, 2012',
       'December,2011'], dtype=object)

In [15]:
#Dataframe : viewing Data.

dataframe = pd.DataFrame(np.random.randn(20, 5), 
                         columns = ['A', 'B', 'C', 'D', 'E'])

In [16]:
print(dataframe.head())

          A         B         C         D         E
0 -0.059899  1.969307  1.321773 -0.149233  0.282040
1  0.236946 -1.523047  1.117941 -0.242566  0.178918
2 -0.805368  0.247581 -0.477033 -0.654098  2.015969
3 -0.153289  1.035854  0.512673  0.207163  1.905335
4  0.478484 -0.306322  0.315322  0.591138 -1.099691

In [17]:
print(dataframe.tail(n = 2))

           A         B         C       D         E
18 -0.322990 -1.378364 -1.313343  1.3154 -0.465625
19 -0.239615  2.248094  0.093851  0.0035 -0.368076

In [18]:
print(dataframe.describe())

               A          B          C          D          E
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean   -0.240421  -0.159263  -0.025116  -0.346480  -0.011249
std     0.691417   1.063424   1.073901   0.872568   1.100872
min    -1.787332  -1.789426  -2.075982  -1.683991  -2.569045
25%    -0.448158  -0.822646  -0.801517  -1.094937  -0.468084
50%    -0.151917  -0.326088   0.084712  -0.195900  -0.143041
75%     0.224696   0.266620   0.922726   0.223077   0.297711
max     0.950525   2.248094   1.613788   1.315400   2.015969

In [19]:
print(dataframe.sort_values(by='C').head())

           A         B         C         D         E
7  -0.648413  0.983352 -2.075982 -1.683991 -0.250321
16 -0.266420 -1.789426 -1.633918 -0.093590 -0.475459
6   0.950525 -0.433598 -1.324452 -1.514852  0.158135
18 -0.322990 -1.378364 -1.313343  1.315400 -0.465625
14 -1.787332 -0.473264 -1.127138 -1.237147 -0.796048

In [20]:
print(dataframe.sort_index(ascending = False).head())

           A         B         C         D         E
19 -0.239615  2.248094  0.093851  0.003500 -0.368076
18 -0.322990 -1.378364 -1.313343  1.315400 -0.465625
17  0.220613 -0.298211  0.919894 -1.634444  1.990665
16 -0.266420 -1.789426 -1.633918 -0.093590 -0.475459
15 -0.150544 -0.820169  0.296801  0.036651 -2.569045

In [21]:
print(dataframe['A'].head())

0   -0.059899
1    0.236946
2   -0.805368
3   -0.153289
4    0.478484
Name: A, dtype: float64

In [22]:
print(dataframe[1:4])

          A         B         C         D         E
1  0.236946 -1.523047  1.117941 -0.242566  0.178918
2 -0.805368  0.247581 -0.477033 -0.654098  2.015969
3 -0.153289  1.035854  0.512673  0.207163  1.905335

In [23]:
#Print first 4 rows of columns A, B, c
print(dataframe[0:4][['A','B','C']])

          A         B         C
0 -0.059899  1.969307  1.321773
1  0.236946 -1.523047  1.117941
2 -0.805368  0.247581 -0.477033
3 -0.153289  1.035854  0.512673

In [24]:
print(dataframe[['A', 'B']].head())

          A         B
0 -0.059899  1.969307
1  0.236946 -1.523047
2 -0.805368  0.247581
3 -0.153289  1.035854
4  0.478484 -0.306322

In [25]:
#loc, iloc & ix
df = pd.DataFrame({'A' : [4,5,6,7],
                   'B' : [10,20,30,40],
                   'C' : [100,50,-30,-50]})
df.index = ['aa', 'aa', 'bb', 'cc']
print(df)

    A   B    C
aa  4  10  100
aa  5  20   50
bb  6  30  -30
cc  7  40  -50

In [26]:
# label based indexing. 
# loc[label of the row as a list , label of the column as a list]
print(df.loc['aa'])

#to print the rows indexed as aa and bb
print(df.loc[['aa','bb']])

    A   B    C
aa  4  10  100
aa  5  20   50
    A   B    C
aa  4  10  100
aa  5  20   50
bb  6  30  -30

In [27]:
print(df.loc['aa', ['A', 'B']])

    A   B
aa  4  10
aa  5  20

In [29]:
# positional indexing
print(df.iloc[0:3])

    A   B    C
aa  4  10  100
aa  5  20   50
bb  6  30  -30

In [30]:
print(df.iloc[2, [0, 1]])

A     6
B    30
Name: bb, dtype: int64

In [31]:
 df.ix[1, 'A']

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

5

In [32]:
print(df.ix['aa', :3])

    A   B    C
aa  4  10  100
aa  5  20   50

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [33]:
print(dataframe)

           A         B         C         D         E
0  -0.059899  1.969307  1.321773 -0.149233  0.282040
1   0.236946 -1.523047  1.117941 -0.242566  0.178918
2  -0.805368  0.247581 -0.477033 -0.654098  2.015969
3  -0.153289  1.035854  0.512673  0.207163  1.905335
4   0.478484 -0.306322  0.315322  0.591138 -1.099691
5   0.431061 -0.345853  0.931221 -1.122978 -0.155279
6   0.950525 -0.433598 -1.324452 -1.514852  0.158135
7  -0.648413  0.983352 -2.075982 -1.683991 -0.250321
8   0.058929 -0.040843  1.270190 -0.829869 -0.441842
9   0.328467 -0.909615 -0.307896 -0.670235  0.572819
10 -1.764445 -0.715819 -0.692977  0.878199 -0.130804
11  0.014794 -0.830078  1.613788  0.270817  0.261589
12 -0.948508  0.323736  0.075574  0.686132  0.344723
13 -0.381407 -0.128566 -0.018604 -1.085590 -1.182974
14 -1.787332 -0.473264 -1.127138 -1.237147 -0.796048
15 -0.150544 -0.820169  0.296801  0.036651 -2.569045
16 -0.266420 -1.789426 -1.633918 -0.093590 -0.475459
17  0.220613 -0.298211  0.919894 -1.634444  1.990665
18 -0.322990 -1.378364 -1.313343  1.315400 -0.465625
19 -0.239615  2.248094  0.093851  0.003500 -0.368076

In [34]:
#print 1,3,5,7 rows of columns A, B and D
print(dataframe.ix[[1,3,5,7],['A','B','D']])

          A         B         D
1  0.236946 -1.523047 -0.242566
3 -0.153289  1.035854  0.207163
5  0.431061 -0.345853 -1.122978
7 -0.648413  0.983352 -1.683991

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [35]:
# Fetch A and B columns of the df for all A values >= 5
df[df.A>=5][['A','B']] # or df[df[A]>=5][['A','B']]

    A   B
aa  5  20
bb  6  30
cc  7  40

In [36]:
# Print all A vlaues and B Values for which A>=5 and B>20
df[(df.A>=5) & (df.B>20)][['A','B']] # or df[df[A]>=5][['A','B']]

    A   B
bb  6  30
cc  7  40

In [37]:
# merging datasets

In [38]:
df1  = pd.DataFrame({'key': ['a', 'b','e','f'], 'val1': [1, 2,9,10]})
df2 = pd.DataFrame({'key': ['a', 'b','c','d'], 'val2': [4, 5,6,7]})

print("df1: ")
print(df1)

print("df2")
print(df2)

df1:
  key  val1
0   a     1
1   b     2
2   e     9
3   f    10
df2
  key  val2
0   a     4
1   b     5
2   c     6
3   d     7

In [39]:
print(pd.merge(df1, df2, on = 'key'))

  key  val1  val2
0   a     1     4
1   b     2     5

In [40]:
pd.merge(df1,df2, left_on='key', right_on='key', how='outer')

  key  val1  val2
0   a   1.0   4.0
1   b   2.0   5.0
2   e   9.0   NaN
3   f  10.0   NaN
4   c   NaN   6.0
5   d   NaN   7.0

In [41]:
pd.merge(df1,df2, left_on='key', right_on='key', how='left')

  key  val1  val2
0   a     1   4.0
1   b     2   5.0
2   e     9   NaN
3   f    10   NaN

In [42]:
pd.merge(df1,df2, left_on='key', right_on='key', how='right')

  key  val1  val2
0   a   1.0     4
1   b   2.0     5
2   c   NaN     6
3   d   NaN     7

In [43]:
pd.concat([df1, df2], axis = 0)

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

  key  val1  val2
0   a   1.0   NaN
1   b   2.0   NaN
2   e   9.0   NaN
3   f  10.0   NaN
0   a   NaN   4.0
1   b   NaN   5.0
2   c   NaN   6.0
3   d   NaN   7.0

In [44]:
pd.concat([df1, df2], axis = 1)

  key  val1 key  val2
0   a     1   a     4
1   b     2   b     5
2   e     9   c     6
3   f    10   d     7

In [152]:
# reshaping data : Data wrangling

In [45]:
long_data = pd.DataFrame({'Country': ['IN', 'IN', 'IN', 'SL', 'SL', 'SL'],
                         'Year':[1960, 1970, 1990,1960, 1970, 1990  ],
                         'GDPpC': [83, 114, 375, 143, 183,472]})
print(long_data)

  Country  Year  GDPpC
0      IN  1960     83
1      IN  1970    114
2      IN  1990    375
3      SL  1960    143
4      SL  1970    183
5      SL  1990    472

In [46]:
print(long_data.pivot('Country', 'Year', 'GDPpC'))

Year     1960  1970  1990
Country
IN         83   114   375
SL        143   183   472

In [47]:
# replacing values.

In [49]:
data = pd.Series([1, -999, 0.5,  0.4])
print(data)

0      1.0
1   -999.0
2      0.5
3      0.4
dtype: float64

In [50]:
data.replace(-999, 0)

0    1.0
1    0.0
2    0.5
3    0.4
dtype: float64

In [51]:
data[ data > -999]

0    1.0
2    0.5
3    0.4
dtype: float64

In [52]:
# group by demo!

In [53]:
df = pd.DataFrame({'group': ['a', 'a', 'b', 'b'],
                   'group_Name': ['Marker', 'Marker', 'Projector', 'Projector'],
                         'value1':[12, 10, 3, 6],
                         'value2':[120, 100, 30, 60]})
df

  group group_Name  value1  value2
0     a     Marker      12     120
1     a     Marker      10     100
2     b  Projector       3      30
3     b  Projector       6      60

In [54]:
grouped = df.groupby('group')
print(grouped)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000021BCCF4DA90>

In [55]:
print(grouped.mean())

       value1  value2
group
a        11.0   110.0
b         4.5    45.0

In [56]:
df. groupby(['group','group_Name']).agg({'value1':np.sum, 'value2':np.mean})

                  value1  value2
group group_Name
a     Marker          22     110
b     Projector        9      45

In [58]:
df.groupby('group')['value1'].mean()

group
a    11.0
b     4.5
Name: value1, dtype: float64

In [59]:
print(grouped.sum())

       value1  value2
group
a          22     220
b           9      90

In [60]:
print(grouped.apply(np.mean))

       value1  value2
group
a        11.0   110.0
b         4.5    45.0

In [61]:
## apply working on dataframes directly.

In [62]:
dataframe =  pd.DataFrame(np.random.randn(20, 4))
dataframe

           0         1         2         3
0   1.697856  0.149610 -0.187008  0.402637
1   0.852483 -1.158406 -0.630855 -0.810859
2  -0.686388  0.016776  0.734101 -1.343749
3  -0.333639 -0.958606 -0.236065  1.229052
4   1.302849 -0.125806 -0.909634  1.015242
5  -0.865369  1.616646  1.107341 -0.442351
6  -0.073833 -1.416585 -0.223198 -0.538485
7   1.501798  1.082005  0.236932  0.289609
8   0.435250 -0.740443  0.461262 -1.935815
9   0.394828  0.586279 -0.040511  0.989968
10  1.500822  0.695468 -0.169817  0.722295
11  1.763540 -2.450864  2.362416  0.331151
12 -0.324815  0.808992 -0.914193 -0.604205
13  0.794431 -0.055320  0.399173  0.413570
14  1.506589  0.527305 -1.286397 -1.263028
15  0.501936 -1.588766  0.658093 -2.088862
16 -0.461271  0.013361  1.227988 -0.728938
17 -0.211500  0.810279 -1.346098 -0.718150
18 -1.629620 -1.075247 -0.104295  1.064003
19 -1.461500 -0.148439 -0.072709 -1.118153

In [63]:
#Compute mean of every row
dataframe.apply(np.mean, axis = 1 )

0     0.515774
1    -0.436909
2    -0.319815
3    -0.074815
4     0.320663
5     0.354067
6    -0.563025
7     0.777586
8    -0.444936
9     0.482641
10    0.687192
11    0.501561
12   -0.258555
13    0.387963
14   -0.128883
15   -0.629400
16    0.012785
17   -0.366367
18   -0.436290
19   -0.700200
dtype: float64

In [64]:
#Copute mean of every column 
dataframe.apply(np.mean, axis = 0)

0    0.310222
1   -0.170588
2    0.053326
3   -0.256753
dtype: float64

In [65]:
## lambda operators.

In [66]:
f = lambda x, y: x + y
f(1, 5)

6

In [67]:
print(dataframe.apply(lambda x : (x - np.mean(x)), axis = 1))

           0         1         2         3
0   1.182083 -0.366164 -0.702782 -0.113137
1   1.289392 -0.721497 -0.193946 -0.373950
2  -0.366573  0.336591  1.053916 -1.023934
3  -0.258824 -0.883792 -0.161251  1.303867
4   0.982186 -0.446468 -1.230297  0.694579
5  -1.219435  1.262579  0.753274 -0.796417
6   0.489192 -0.853559  0.339827  0.024540
7   0.724212  0.304419 -0.540654 -0.487977
8   0.880187 -0.295507  0.906198 -1.490878
9  -0.087813  0.103638 -0.523152  0.507327
10  0.813630  0.008276 -0.857009  0.035103
11  1.261979 -2.952425  1.860856 -0.170410
12 -0.066260  1.067547 -0.655638 -0.345649
13  0.406468 -0.443283  0.011209  0.025606
14  1.635472  0.656188 -1.157515 -1.134145
15  1.131336 -0.959366  1.287492 -1.459462
16 -0.474056  0.000576  1.215203 -0.741723
17  0.154867  1.176646 -0.979731 -0.351783
18 -1.193331 -0.638957  0.331994  1.500293
19 -0.761300  0.551762  0.627491 -0.417953