In [1]:
import pandas as pd
import numpy as np

In [2]:
air =  pd.read_csv('C:/Users/Administrator/PythonDemos/air.csv',encoding = 'latin')

In [8]:
air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 7 columns):
Unnamed: 0    153 non-null int64
Ozone         116 non-null float64
Solar.R       146 non-null float64
Wind          153 non-null float64
Temp          153 non-null int64
Month         153 non-null int64
Day           153 non-null int64
dtypes: float64(3), int64(4)
memory usage: 8.4 KB

### Fetch the observations for 9 day of June

In [11]:
air.query("Month == 6 & Day == 9")

    Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
39          40   71.0    291.0  13.8    90      6    9

### Find Average temperature for the month of June

In [13]:
air.query("Month == 6").Temp.mean()

79.1

### To which day of June has the least temperature

In [9]:
air[(air.Temp ==air.query("Month ==6").Temp.min()) & (air.Month == 6)].Day

48    18
Name: Day, dtype: int64

In [59]:

c = air.query("Month ==6")
#print(air[(air.Temp == c) & (air.Month ==6)].Day)
print(air[(air.Temp == min(c.Temp)) & (air.Month ==6)].Day)

48    18
Name: Day, dtype: int64

### 4.	Find Maximum Ozone value for the month of May

In [62]:

c = air.query("Month ==5")
print(air[(air.Ozone == c.Ozone.max()) & (air.Month ==5)])
#print(air[(air.Temp == mi & (air.Month ==5)].Day)

    Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
29          30  115.0    223.0   5.7    79      5   30

### 5.	Find the count of the missing values in the ozone column of the data set

In [15]:
air[(air.Ozone.isnull())].Ozone.shape

(37,)

In [76]:
air.query("Ozone == 'NaN'").Ozone.shape

(37,)

### 6.	Find out What is the mean of the Ozone column in this dataset

In [78]:
air.Ozone.mean()

42.12931034482759

### 7.	Find out which month has the highest temperature

In [80]:
print(air[air.Temp == air.Temp.max()].Month)

119    8
Name: Month, dtype: int64

### 8.	Find out the wind value when the Ozone becomes maximum

In [82]:
print(air[air.Ozone == air.Ozone.max()].Wind)

116    3.4
Name: Wind, dtype: float64

### 9.	Find out the months for which the airquality observations have been carried out

In [103]:
air[~air.Month.isnull()].Month.unique()

array([5, 6, 7, 8, 9], dtype=int64)

### 10.	Find the Ozone and temperature values for the 1st observation of every month.

In [18]:
 air[["Ozone","Temp","Day"]].query("Day == 1")

     Ozone  Temp  Day
0     41.0    67    1
31     NaN    78    1
61   135.0    84    1
92    39.0    81    1
123   96.0    91    1

### 11.	Which day of which month corresponds to the least Ozone Value.

In [4]:
air[air.Ozone == air.Ozone.min()][["Month","Day"]]

    Month  Day
20      5   21

### 12.	Convert the temperature for all the observations to Centigrade scale

In [122]:
air1 = air
air1["Temp"] = (((air1.Temp - 32)*5)/9)
air1.Temp.head()

0    19.444444
1    22.222222
2    23.333333
3    16.666667
4    13.333333
Name: Temp, dtype: float64

In [123]:
air.Temp.head()

0    19.444444
1    22.222222
2    23.333333
3    16.666667
4    13.333333
Name: Temp, dtype: float64